div {
  border-radius: 5px;
}

#header {
  height: 100px;
  background-color: #3399FF;
  margin-bottom: 10px;
  top: 0px;
}

.tips {
  height: 450px;
  width: 49%;
  background-color: #FF6633;
  float: left;
  margin-bottom: 10px;
  background-image: url("dimsum.JPG");
  margin: 6px;
}

#footer {
  height: 50px;
  background-color: #3399FF;
  clear: both;

}

h1 {
  padding-top: 10px;
  text-align: center;
}

h2 {
  text-align: center;
}

p{
  font-weight: bold;
  font-size: 20px;
  color: black;
  top:0;
  float:center;
  padding-left: 3px;
  padding-right: 3px;
}

a{
  text-decoration: none;
}

.tips h1 {
  text-decoration: underline;
}